<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757897488701-sujf8t9vag6i856046j4j97eq6bs31ag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757897488701-sujf8t9vag6i856046j4j97eq6bs31ag</string>
	<key>API_KEY</key>
	<string>AIzaSyCwINNxLIjCZDLYvcucplIoF31URdwgq10</string>
	<key>GCM_SENDER_ID</key>
	<string>757897488701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kyaan.akwadProject</string>
	<key>PROJECT_ID</key>
	<string>tawfirk-2c80d</string>
	<key>STORAGE_BUCKET</key>
	<string>tawfirk-2c80d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757897488701:ios:e6a5f35a1164597565bd54</string>
	<key>DATABASE_URL</key>
	<string>https://tawfirk-2c80d.firebaseio.com</string>
</dict>
</plist>