<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062970514526-pd6d06cmkd14gf0ppqbmjja7c4vqne1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855322348281-u0c4ho6ti86qrpiiu8eh4t8d6d2d5ni1</string>
	<key>API_KEY</key>
	<string>AIzaSyCwYQYxIiBCodZsxG6D6kNPp2J_3gZlYCU</string>
	<key>GCM_SENDER_ID</key>
	<string>855322348281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.almusand.gatrat-nada</string>
	<key>PROJECT_ID</key>
	<string>gatrat-nada</string>
	<key>STORAGE_BUCKET</key>
	<string>gatrat-nada.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:855322348281:ios:0ef3b9de5fa1bd3b04b028</string>
</dict>
</plist>
